.outerContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    /* gap: 10px; */
    background-color: #F5EFFF;
}
.mainSection{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
   background-color: #F5EFFF;
    
}

.outlet{
   background-color: #F5EFFF;
    /* margin: auto 1rem;
    align-self: center; */
    flex: 1;
  
}
